@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;800&display=swap');
:root {
    --main-bg-color: #5EAE9E;
    --secondary-color: #70E000;
    --text-color: #33691E;
    --green-accent: #8BC34A;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.color_primary {
    background-color: var(--secondary-color);
}

.text-light {
    color: #fff;
}

.shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.row {
    margin: 0;
}

.btn-outline-light {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-check-input:checked {
    background-color: var(--green-accent);
    border-color: var(--green-accent);
}

.form-check-input:checked+.form-check-label {
    color: var(--text-color);
}

.rounded-start {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.rounded-end {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


/* Navbar */

.navbar {
    background-color: var(--main-bg-color);
}

.color_primary {
    background-color: var(--main-bg-color);
}

.success {
    color: var(--main-bg-color) !important;
}

.nav-link {
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
}

.logoNavbar {
    height: 70px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 12rem;
}

.logoSidebar {
    height: 8rem;
}


/* Fin Navbar */


/* Main */


/* Cards */

.card {
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #f2f2f2;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}

img.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    max-height: 150px;
    overflow-y: auto;
}

p.card-text.mb-1 {
    max-height: 200px;
}

.btn-icon {
    color: var(--main-bg-color);
}

.btn-success {
    background: var(--main-bg-color) !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-stock {
    background-color: #FFA500 !important;
    ;
    background-color: #FFA500 !important;
    ;
}

.sucess_dark {
    color: var(--green-accent) !important;
}

.btn-outline {
    border: var(--green-accent) !important;
    outline-style: auto;
    outline-color: var(--green-accent) !important;
    color: var(--green-accent) !important;
}

.btn-outline-success-send {
    border: var(--main-bg-color) !important;
    outline-style: auto;
    outline-color: var(--main-bg-color) !important;
    color: var(--main-bg-color) !important;
}

.success-btn {
    color: white !important;
    background: var(--main-bg-color) !important;
}

.btn-outline-success-send:hover {
    color: white !important;
    background: var(--main-bg-color) !important;
}

.btn-outline:hover {
    color: white !important;
    background: var(--green-accent) !important;
}

.btn-primary:hover {
    background-color: #0062cc;
}

.btn-outline-secondary {
    border: none;
}

.input-group-text {
    font-size: 0.9rem;
    background-color: #f2f2f2;
    border: none;
}


/* Botón carrito de compras cards */

.btn-primary {
    background-color: var(--main-bg-color);
}

.btn-primary:hover {
    background-color: #006B8E;
}


/* Fin botón carrito de compras cards */


/* Title store */

.text-header-store {
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
    font-weight: 600
}


/* Fin Main */


/* Footer */

footer {
    background-color: var(--main-bg-color);
}

footer h4 {
    font-weight: 600;
    color: var(--text-color);
}

footer p {
    color: var(--text-color)
}

footer a {
    color: var(--text-color);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a:hover {
    color: var(--secondary-color);
}

.list-inline-item .fab {
    transition: all 0.3s ease-in-out;
}

.list-inline-item:hover .fab {
    transform: scale(1.5);
}


/* Fin footer */

.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 25px;
    border-bottom: solid 1px var(--text-color);
}

.img-carrito {
    width: 200px;
    padding: 20px;
}

.img-carrito {
    width: 200px;
    padding: 20px;
}

.btn-floating:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.cart-item-count-btn-float {
    transform: translate(50%, -100%);
}

.cart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-float-cart {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
    background-color: #007bff;
    width: 50px;
    height: 50px;
    transition: all 0.2s;
}